<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="descripcion de la pagina">
    <meta name="keywords" content="descripcion, de, la, pagina, carne, vinos">
    <meta name="author" content="adb">

    <title>TRIBO</title>

    <!-- Favicon -->
    <link rel="icon" href="img/logo.png" type="image/png" sizes="196x196">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Slick core CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css" />

    <!-- Custom fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type='text/css'>

    <!-- Custom styles -->
    <link href="css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          TRIBO
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#local">Local</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Carnes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#vinos">Vinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <img class="img-fluid" src="img/header.png" alt="TRIBO" />
          </div>
        </div>
      </div>
    </header>

    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <img class="img-fluid mb-5" src="img/dry-aged-beef.png" alt="NOSOTROS"/>
            <p class="text-uppercase mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <p class="text-uppercase mb-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p class="text-uppercase mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="text-uppercase mb-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="showcase" id="local">
      <div class="row no-gutters">
        <div class="col-6 col-lg-3">
          <img class="img-fluid" src="img/new/20180616_0055web.jpg" alt="" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="img-fluid" src="img/new/20180616_0028web.jpg" alt="" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="img-fluid" src="img/new/20180616_0022web.jpg" alt="" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="img-fluid" src="img/new/20180616_0052web.jpg" alt="" />
        </div>
      </div>
    </section>

    <section id="portfolio">
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">NUESTRAS CARNES</h2>
            <hr class="light my-4">
          </div>
        </div>
        <div class="row popup-gallery">
          <div class="col-lg-3 col-sm-6 mb-2">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/ojo-de-bife.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    OJO DE BIFE
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/ojo-de-bife-dry-aged.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    OJO DE BIFE DRY AGED
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6 mb-2">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/prime-rib.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    PRIME RIB
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/t-bone-dry-aged.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    T-BONE DRY AGED
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/bife-de-vacio.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    BIFE DE VACIO
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/bife-de-chorizo.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    BIFE DE CHORIZO
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/tira-de-asado.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    TIRA DE ASADO
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/tomahawk.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    TOMAHAWK
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a class="portfolio-box">
              <img class="img-fluid" src="img/portfolio/vacio.jpg" alt="" />
              <div class="portfolio-box-caption" ontouchstart="">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    VACIO
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="vinos" id="vinos">
      <div class="row no-gutters">
        <div class="col-lg-6 text-container">
          <h2 class="section-heading">WINE &amp; MEAT</h2>
          <hr class="my-4">
          <p class="text-uppercase mb-4">Creemos que un gran vino es la mejor compañía para disfrutar de un corte de carne. Por eso nos comprometemos a trabajar con vinos que tengan identidad propia, tanto por los lugares del país en donde se producen como por la historia de quienes los hacen y los procesos que se utilizan para dicha producción.</p>
          <p class="text-uppercase mb-4">El maridaje entre carne y vino nos permite lograr una experiencia que nos emociona. Así es como lo sentimos y lo queremos expresar a través de nuestros productos.</p>
        </div>
          <div class="col-lg-6">
            <img class="img-fluid" src="img/new/20180709_0274web2.jpg" alt="">
          </div>
      </div>
    </section>

    <section class="contacto" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">CONTACTO</h2>
            <hr class="light my-4">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mb-5">
            <img class="img-fluid" src="img/new/20180616_0062web.jpg" alt="" />
          </div>
          <div class="col-lg-4 text-white pl-3">
            <h3 class="section-heading">VENI A CONOCERNOS.</h3>
            <hr class="light my-4" style="margin-left: 0;">
            <p class="text-uppercase mb-4">EL SALVADOR 6002.</p>
            <p class="text-uppercase mb-4">PALERMO.</p>
            <p class="text-uppercase mb-4">4775 - 3719</p>
            <p class="text-uppercase mb-4">LUNES A VIERNES 11 a 21 HS.</p>
            <p class="text-uppercase mb-4">SABADO 10 A 20 HS.</p>
            <p class="text-uppercase mb-4">
              <a href="https://www.facebook.com/tomahawk.ba/" target="_blank"><i class="fab fa-facebook fa-lg pr-2 text-white"></i></a>
              <a href="https://www.instagram.com/tomahawk.ba/" target="_blank"><i class="fab fa-instagram fa-lg pr-2 text-white"></i></a>
            </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.953917512546!2d-58.44174968422556!3d-34.58003256375354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5934f0c05bf%3A0xa44c12dd68a65b46!2sEl+Salvador+6002%2C+C1414BQN+CABA!5e0!3m2!1sen!2sar!4v1528730984134" frameborder="0" style="border:0" title="Google Maps" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Slick core JavaScript -->
    <script type="text/javascript" src="vendor/slick/slick.min.js"></script>

    <!-- Custom scripts -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
